{% extends "base.html" %}

{% block content %}
    <h1>Update Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.display_name.label }}<br>
            {{ form.display_name(size=64) }}<br>
            {% for error in form.display_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.dob.label }}<br>
            {{ form.dob(size=32) }}<br>
            {% for error in form.dob.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.bio.label }}<br>
            {{ form.bio(size=500) }}<br>
            {% for error in form.bio.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}