{% extends "base.html" %}

{% block content %}
    <h1>New Message</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.receiver_name.label }}<br>
            {{ form.receiver_name(size=64) }}<br>
            {% for error in form.receiver_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.content.label }}<br>
            {{ form.content(size=500) }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <!-- <p>
            {{ form.profile_pic.label }}<br>
            {{ form.profile_pic(size=500) }}<br>
            {% for error in form.profile_pic.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        -->
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}